body{
  padding: 0;
  font-family: 'Gost';
  font-size: 16px;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  border: none;
}
form{
  margin: 0;
}
input[type="submit"]{
  cursor: pointer;
  border: none;
}
textarea{
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto;
}
button{
  background-color: initial;
  border: none;
  line-height: 1.55!important;
}
button:focus{
  outline: none;
}
.page-container{
  padding: 30px 60px 55px 60px;
}

.default-title{
  font-size: 54px;
}
.btn{
  text-transform: uppercase;
  padding: 15px 24px;
  outline: 2px solid #000;
  border: none;
  line-height: 0;
  position: relative;
  background-color: #fff;
  border-radius: 0!important;
  transition: all .2s;
  width: 200px;
  align-self: center;
}
.btn:focus{
  outline: 2px solid #000!important;
  box-shadow: none!important;
}
.btn:hover, button:hover{
  background-color: #2ec2a8;
}


.form-check-input + label[for="radio10"]:before{
  left: -2px;
}
.form-check-input + label[for="radio10"]:after{
  left: -2px;
}
.form-check-input:checked + label:after{
  opacity: 1;
}
