.form-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	border: 2px dashed;
	min-width: 450px;
}
.form-title{
	font-size: 35px;
	display: inline-block;
}
form{
	margin: 20px 0;
}
.form-box .custom-range::-moz-range-track{
	border-radius: 0;
	background-color: #000;
	height: 2px; 
}
.form-box .custom-range::-moz-range-thumb{
	background-color: #2ec2a8;
}
output{
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
.in-form-title{
	font-size: 25px;
}
.inputs .input-group:first-child{
	margin-top: 20px;
}
.else{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
}
.inputs input{
	border: 2px solid #000;
	border-radius: 0;
}
.inputs .form-control:focus{
	border-color: #000;
	box-shadow: none;
}
.radio-list .form-check{
	padding: 0;
}
.radio-list .form-check-input{
	position: relative;
	margin: 0;
}
.form-box .was-validated .form-check-input:valid ~ .form-check-label{
	color: #000;
}
.was-validated .inputs .form-control:valid{
	border-color: #000;
}
.was-validated .inputs .form-control:valid:focus{
	border-color: #000;
	box-shadow: none;
}
.error-text{
	color: #dc3545;
	display: none;
}
.thank-you{
	display: none;
}

.form-check-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-check-input + label{
  	position: relative;
  	cursor: pointer;
  	font-weight: bold;
}
.form-check-input + label:before{
  	content: '';
  	position: absolute;
  	width: 22px;
  	height: 22px;
  	border: 2px solid #2ec2a8;
  	top: -20px;
  	left: -6px;
}
.form-check-input + label:after{
  	content: '';
  	position: absolute;
  	width: 22px;
  	height: 22px;
  	background-color: #2ec2a8;
  	opacity: 0;
  	transition: .2s;
  	top: -20px;
  	left: -6px;
}
